<!DOCTYPE html>
<!-- Takes information to change the password of the current user -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="navbar">
    {% if session.admin %}
      <a href="{{ url_for('check_qr_code') }}">Check Pass QR</a>
      <a href="{{ url_for('add_admin') }}">Add Admin</a>
      <a href="{{ url_for('reports') }}">Reports</a>
    {% endif %}
    <a href="/profile">Profile</a>
    {% if not session.admin %}
      <a href="{{ url_for('my_parks') }}">My Parks</a>
      <a href="{{ url_for('catalog') }}">Get Park Passes</a>
    {% endif %}
    <a href="/logout">Logout</a>
  </div>
<body>
    <h1>Change Password</h1>
    <form action="{{ url_for('change_password') }}" method="POST">
        <label for="currentpass">Current Password:</label>
        <div class="input-wrapper">
            <input type="password" id="currentpass" name="currentpass" class="input">
        </div>

        <label for="newpass">New Password:</label>
        <div class="input-wrapper">
            <input type="password" id="newpass" name="newpass" class="input">
        </div>

        <label for="newpass2">Re-enter New Password:</label>
        <div class="input-wrapper">
            <input type="password" id="newpass2" name="newpass2" class="input">
        </div>

        <p>{{ message }}</p>
        <button type="submit">Submit</button>
    </form>
    <button type="button" onclick="location.href='/'">Back</button>
</body>

</html>