<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Park Passes Report</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchInput = document.getElementById('searchInput');
            searchInput.addEventListener('keyup', filterTable);
            function filterTable() {
                const filter = searchInput.value.toUpperCase();
                const table = document.getElementById('parkPassesTable');
                const rows = table.getElementsByTagName('tr');

                for (let i = 1; i < rows.length; i++) {
                    const userNameCell = rows[i].getElementsByTagName('td')[0];
                    const userName = userNameCell.textContent || userNameCell.innerText;
                    if (userName.toUpperCase().indexOf(filter) > -1) {
                        rows[i].style.display = '';
                    } else {
                        rows[i].style.display = 'none';
                    }
                }
            }
        });
    </script>
</head>
<body>
    <h1>Park Passes Report</h1>
    <form method="GET" action="{{ url_for('parkpasses_report') }}">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>
        <label for="park_name">Park Name:</label>
        <select id="park_name" name="park_name" required>
            <option value="">--Select a Park--</option>
            {% for name in park_names %}
                <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Get Report</button>
    </form>
    <input type="text" id="searchInput" placeholder="Search for user names...">
    <table id="parkPassesTable">
        <thead>
            <tr>
                <th>User Name</th>
                <th>State Park Name</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            {% for pass in passes %}
                <tr>
                    <td>{{ pass.user_name }}</td>
                    <td>{{ pass.park_name }}</td>
                    <td>{{ pass.start_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ pass.end_date.strftime('%Y-%m-%d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="location.href='{{url_for('reports')}}'">Back</button>
</body>
</html>
