<!DOCTYPE html>
<!-- Registration page that takes input to add user after validation -->
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Registration Page</title>
  </head>
  <body>
    <h1>Registration Form</h1>
    <h2>
      {% if failed %}
      Registration failed. Please try again.
      {% endif %}
    </h2>
    <form action="/register" method="POST">

      <div class="input-wrapper">
        <input type="text" placeholder="Username" id="username" name="username" class="input"><br>
      </div>
      <div class="input-wrapper">
        <input type="password" placeholder="Password" id="password" name="password" class="input"><br>
      </div>
      <div class="input-wrapper">
        <input type="text" placeholder="First Name" id="first_name" name="first_name" class="input"><br>
      </div>
      <div class="input-wrapper">
        <input type="text" placeholder="Last Name" id="last_name" name="last_name" class="input"><br>
      </div>
      <div class="input-wrapper">
        <input type="text" placeholder="Email" id="email" name="email" class="input"><br>
      </div>
      <div class="input-wrapper">
        <input type="text" placeholder="Phone Number" id="phone_num" name="phone_num" class="input"><br>
      </div>

      <button type="submit">Register</button>
    </form>
    <button type="button" onclick="location.href='/'">Back</button>
  </body>
</html>
